.vscode
.DS_Store
*.o
*.Po
*.a
*.dirstamp
*.log
*/.deps/
.cproject
.dirstamp
Makefile
Makefile.in
autom4te.cache/
config.status
configure
qa/pull-tester/build-tests.sh
src/coind
src/obj/
src/Makefile.in
src/coin-config.h
src/coin-config.h.in
src/coin-config.h.in~
src/ptest/CGuarantee_tests.cpp
src/ptest/Makefile.in
src/stamp-h1
src/test/Makefile.in
share/qt/Info.plist
share/setup.nsi
autogen-coin-man.sh
