[submodule "src/external/Catch2"]
	path = src/external/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "src/external/outcome"]
	path = src/external/outcome
	url = https://github.com/ned14/outcome
[submodule "src/external/softfloat"]
	path = src/external/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
	ignore = dirty

