# Rule: according to the alphabet

*.a
*.bak
*.dirstamp
*.log
*.o
*.Po

.DS_Store

.deps
.cproject
.dirstamp
.project
.vscode

aclocal.m4
autogen-coin-man.sh
autom4te.cache
config.status
configure
Makefile
Makefile.in
qa/pull-tester/build-tests.sh
qa/pull-tester/run-bitcoind-for-test.sh
share/qt/Info.plist
share/setup.nsi
src/config/build.h
src/config/coin-config.h
src/config/coin-config.h.in
src/config/coin-config.h.in~
src/config/stamp-h1
src/coind
src/coinlua
src/Makefile.in
src/obj
src/ptest/CGuarantee_tests.cpp
src/ptest/Makefile.in
src/stamp-h1
src/coin_test
GPATH
GRTAGS
GTAGS
tags
libtool
src/build-aux/config.guess
src/build-aux/config.sub
src/build-aux/depcomp
src/build-aux/install-sh
src/build-aux/ltmain.sh
src/build-aux/missing
src/build-aux/compile
src/build-aux/test-driver
src/m4/libtool.m4
src/m4/lt~obsolete.m4
src/m4/ltoptions.m4
src/m4/ltsugar.m4
src/m4/ltversion.m4
src/leveldb/build_config.mk
CMakeLists.txt
cmake-build-debug
.idea